@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

.bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/public/backgroundImage/bg.svg');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 500s linear infinite;
}

@media (width >=500px) {
    .bg-svg {
        padding: 0;
    }
}