.line {
    position: relative;
}

.line::before {
    content: attr(data-line-number);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.line-text {
    margin-left: 2em;
}

.container {
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 210mm;
    height: 50mm;
}